.ocultar{

    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: blue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.contenedor{
  display: flex;
}

.ocultar:hover{
    background-color: rgb(44, 44, 168);
}
