.ocultar{

    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: blue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedor{
   display: flex;
   justify-content: center;
}

.ocultar:hover{
    background-color: rgb(44, 44, 168);
}
