.contaner{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portada{
  /*  clip-path: circle(50% at center);*/
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  display: block;
  float: left; 
  z-index: -1;
 
}


header {
    position: relative;
  }
  
  .cover-photo {
    height: 300px;
    overflow: hidden;
  }
  
  .cover-photo img {
    width: 100%;
    height: auto;
    
  }
  
  .profile-photo {
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-left: 70px;
       
  }
  
  .profile-photo img {
    width: 100%;
    height: auto;
   
  }
  
  section {
    padding: 20px;

  }

.aboutMe{
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
}

.courses {
  display: flex
}

.percent{

  border: 1px solid rgb(2, 243, 159);
  border-radius: 30px;
  background-color:rgb(11, 247, 164)
}


.profile-photo-container {
  position: relative;

}

.profile-photo-circle {
  position: absolute;
  top: 103px;
  left: 99px;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  z-index: 1;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.profile-photo-circle:hover{
  background: rgb(192, 189, 189);
}